

.board {
    display: flex;
}

.cell {
    width: 6vw;
    height: 3vw;
    /* border: 1px solid black; */
}

.cellImage {
    width: 100%;
    height: 100%;
}

.topCellImage {
    z-index: 1;
}

.d, .D {
    transform: rotate(.5turn);
}

.n, .N {
    transform: scaleX(-1);
}

.u, .U {
    transform: scaleY(-1);
}


