

.board {
    display: flex;
}

.cell {
    width: 6vw;
    height: 3vw;
    /* border: 1px solid black; */
}

.cellImage {
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

.topCellImage {
    z-index: 1;
}

.d {
    transform: rotateX('45');
    
}
